.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url('/public/images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container-title>h1,
.container-title>h3 {
    color: var(--white);
    font-weight: bold;
    text-align: center;
}

.container-title h1 {
    font-size: 60px;
}

.container-title h3 {
    font-size: 25px;
    margin: 0;
}