@import url("./css/title.css");
@import url("./css/card.css");
@import url("./css/character.css");
@import url("./css/navbar.css");
@import url("./css/terms.css");
@import url("./css/footer.css");

:root {
  --white: white;
  --black: #252525;
  --green: #71EA00;
}

body {
  font-family: "Gill Sans", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}